<!DOCTYPE html>
<html>
<head>
  <title>Blog Posting UI</title>
  <style>
    * {
      box-sizing: border-box;
    }
    
    body {
      /* margin: 10px; */
      padding: 15px;
      background: linear-gradient(rgba(7, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.pexels.com/photos/3183198/pexels-photo-3183198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
      font-family: Arial, sans-serif;
    }
  /* nav-bar */
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      margin: 0 155px;
      border: 1px solid #ccc;
      background-color: #d3d4d6;
      width: 79%;
      border-radius: 5px;
    }

    .logo img {
      height: 40px;
      padding-left: 50px;
    }

    .logo-text {
      font-size: 30px;
      font-weight: bold;
      color: #f16e03;
      cursor: pointer;
      padding-left: 300px;
    }
   
    .navbar-right {
      display: flex;
      align-items: center; 
      width: 40%;
      padding-left: 250px;
    }
    .addblog-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 30%;
  background-color: #252b31;
  color: #ece7e7;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.addblog-btn:hover {
  background-color: #5a5d61; /* Darker shade on hover */
}

 /* main body */
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1300px;
      margin: 0 auto;
    }
    
    .division {
      background: linear-gradient(rgba(228, 217, 217, 0.3), rgba(67, 44, 44, 0.6)), url('https://images.pexels.com/photos/8960464/pexels-photo-8960464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
      width: 30%;
      padding: 20px;
      border: 1px solid #ccc9c9;
      border-radius: 5px;
      background-color: #d6d3d3;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      transition: transform 0.3s ease;
      margin: 10px; 
    }
    
    .division:hover {
      transform: translateY(-5px);
    }
    .blogs{
      margin: 10px 90px;
      color: #222020;
    }
    
    h2{
      font-size: 24px;
      margin-bottom: 10px;
      color: #222020;
    }
    
    h3 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #222020;
    }
    
    p {
      font-size: 16px;
      line-height: 1.5;
      color: #222020;
    }
    /* for seemore */
    .seemore-btn {
  display: inline-block;
  padding: 10px 20px;
  margin-left: 30%;
  background-color: #0d6cd2;
  color: #ece7e7;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.seemore-btn:hover {
  background-color: #5a5d61; /* Darker shade on hover */
}


  </style>
</head>
<body>
  <div class="navbar">
    <div class="logo">
      <img  src="https://cdn-icons-png.flaticon.com/128/207/207073.png" alt="Logo">
    </div>
    <div class="logo-text">My Blog</div>
    <div class="navbar-right">
      <a href="/blog/" class="addblog-btn">Add Blog</a>
    </div>
  </div>


  <div class="container">
    <%  blogs.forEach((blog)=>{ %>
      <div class="division">
        <h1 class="blogs">blog: <%- blog.id %></h1>
        <h2>Title: <%- blog.title %></h2>
        <h3>Subtitle: <%- blog.subtitle %></h3>
        <p>Description: <%- blog.description %></p>
        <a href="/blogs/<%- blog.id %>" class="seemore-btn">See more</a>
      </div>
    <% }) %>
  </div>
</body>
</html>
